{% extends "base.html.twig" %}
{% block title %}
    Acceuil
{% endblock %}
{% block body %}

    <div class="container-fluid mt-5">
     {% if message %}
    <div class="alert alert-success fade show" role="alert">
        <h4 class="alert-heading text-black">{{ message}}</h4>
    </div>
    {%  endif %}
        <main class="row acceuil-main">
            <div class="container mt-5">
                <div class="row d-flex justify-content-center flex-column-reverse flex-md-row">
                    <div class="col-md-4 rounded order-md-last aside aside-col text-white">
                        <div class="col mb-3">
                            <h3 class="text-center">A propos</h3>
                            <div class="card">
                                <div class="card-body"> 
                                    <img src="https://img.freepik.com/photos-gratuite/rendu-3d-avatar-appel-zoom_23-2149556777.jpg?size=626&ext=jpg&ga=GA1.1.312850530.1686663477&semt=ais" class="card-img-top img-fluid" alt="my image"> 
                                    <h4 class="mt-2 text-center">N'DIAYE Cheikh El Hadramy</h4>
                                    <p class="card-text text-center mt-1">
                                        Passionné de développement et fervent amateur de football africain,
                                        je mets en lumière l'actualité brûlante de la CAN à travers mon blog. 
                                        Explorez avec moi l'intersection passionnante entre le code et le sport, 
                                        où le monde du développement rencontre la frénésie du football africain.
                                    </p>  
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <h3 class="text-center">Reseaux sociaux</h3>
                            <div class="card">
                                <div class="col-12 pt-2 pb-3  d-flex align-items-center justify-content-center  flex-row flex-lg-row">
                                    <ul class="m-0 p-1 d-flex  justify-content-end list-unstyled list-inline  pt-2 flex-wrap">
                                        <li><a class="p-1 text-white d-flex flex-column justify-content-center align-items-center" href="https://www.linkedin.com/in/cheikh-el-hadramy-n-diaye/" target="_blank">
                                            <i class="fab fa-2x fa-linkedin"></i><span class="d-flex no-deco">Linkedin</span></a></li>
                                        <li><a class="p-1 text-white d-flex flex-column justify-content-center align-items-center" href="https://github.com/Hadidi09" target="_blank">
                                            <i class="fab fa-2x fa-github"></i><span class="d-flex no-deco">Github</span></a></li>
                                        <li><a class="p-1 text-white d-flex flex-column justify-content-center align-items-center" href="lien-vers-CV-pdf" target="_blank">
                                            <i class="far fa-2x fa-file-pdf"></i><span class="d-flex no-deco">CV</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% for blog in blogs %}
                        <div class="mb-4">
                            <div class="row g-0 d-flex flex-row">
                                <div class="col-md-4">
                                    <img src="{{ '../../public/uploads/' ~ blog.image }}" class="img-fluid" alt=" image du blog post : {{blog.titre}}">
                                </div>
                                <div class="col-md-8">  
                                    <p class="card-text">{{ blog.chapo | slice(0, 70)}}...</p>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                    <div class="col-md-8">
                     <h2 class="text-center ">Actualités du moment</h2> 
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            
                            {% for blog in blogs %}
                            <div class="col mb-3 rounded">
                                <div class="card  card-sizing">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">{{ blog.titre }}</h4>
                                        <img src="{{ '../../public/uploads/' ~ blog.image }}" class="card-img-top img-fluid" alt="Image de l'article">
                                        <p class="card-text text-center">{{ blog.chapo }}</p>
                                        <p class="card-text text-center"><small class="text-white">publié {{blog.date | date("d/m/y")}}</small></p>
                                        <div class="btn-read">
                                            <a href="/blog_post/{{ blog.id }}" class="btn btn-primary ">Lire la suite</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div>
                <div class="row justify-content-center text-white">
                    <div class="col-md-6 contact" >
                        <h3 class="text-center" id="contact">Contact</h3>
                        <form  action="{{ ('/contact')}}" method="post">

                                <div class="mb-3">
                                    <label for="firstname" class="form-label">Prenom:</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                                </div>
                                <div class="mb-3">
                                    <label for="lastname" class="form-label">Nom:</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>

                                <div class="mb-3">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" placeholder="Entrez votre message ici" name="message" id="message" style="height: 100px"></textarea>
                                    
                                </div>
                                
                                <div class="btn-read">
                                    <button type="submit" class="btn btn-primary mt-3 mb-3 btn-contact">Envoyer</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>              
        </main>
    </div>
{% endblock %}
